body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

ul {
	list-style-position: inside;
    padding: 0;
    margin: 0px;
    list-style-type: none;
    webkit-padding-start: 0;
    padding-left: 1.2em;
}

/* http://vinthomas.com/ */

	
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block
}

body{
	background:#fff
}

body,input,textarea{
	font-size:16px
}

h1,h2,h3,h4,h5,h6{
	font-weight:400
}

strong,b{
	font-weight:700
}

em,i{
	font-style:italic
}

pre{
	font:16px Monaco,monospace;
	line-height:1.5;
	margin-bottom:1.5em
}

code{
	font:16px Monaco,monospace
}

.clearfix{*zoom:1}

.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}

.clearfix:after{clear:both}

body{background:#fff;font-family:'Proxima Nova Soft',proxima-nova-soft,Helvetica,Arial,sans-serif;font-size:62.5%}

.container{max-width:1030px;padding:0 30px;margin:0 auto}

.introduction{padding:90px 0 120px;text-align:center;background:#33CCCC no-repeat top center;background-size:cover}

.introduction h1{font-size:48px;color:#fff;font-weight:200;line-height:48px;margin-bottom:18px}

.introduction p{font-size:24px;font-weight:200;color:rgba(255,255,255,.5)}

.introduction .social_links{font-size:24px;padding-top:48px}

.introduction .social_links a{text-decoration:none;color:#fff;padding:0 8px}

.introduction .social_links li{display:inline-block;margin:0 8px;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out}

.introduction .social_links li:hover{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2)}

.project{font-size:18px;line-height:24px;color:#6b696e;font-weight:200}

.project a{text-decoration:none}

.project .container{padding-top:60px;padding-bottom:60px}

.project h2{font-size:30px;line-height:30px;margin-bottom:42px}

.project h2 a{-webkit-transition:all 220ms;-moz-transition:all 220ms;-o-transition:all 220ms;transition:all 220ms}

.project .project_description{width:38.1443299%;position:relative;z-index:60}

.project .project_description p{margin-bottom:30px}

.project .visit_link{text-transform:uppercase;font-size:14px;letter-spacing:2px;font-weight:500;border-bottom:1px solid transparent;padding-bottom:2px;-webkit-transition:all 220ms ease-in-out;-moz-transition:all 220ms ease-in-out;-o-transition:all 220ms ease-in-out;transition:all 220ms ease-in-out}

.project.github{background:#fff}

.project.github h2 a,.project.github p a:hover,.project.github .visit_link{color:#000000}

.project.github a{color:#39383b}

.project.github .project_description{float:left;padding-top:60px;padding-top:6.185567%}

.project.github h2 a:hover{color:rgba(0, 0, 0)}

.project.github .visit_link:hover{border-bottom:1px solid rgba(255, 255, 255.25)}

.project.instagram{background:#2b95d2;color:#fff}

.project.instagram h2 a{color:#fff}

.project.instagram a{color:#fff}

.project.instagram.image:hover:after{opacity:1;}

.project.instagram .visit_link:hover{border-bottom:1px solid rgba(255,255,255,.4)}

.project .github_projects{width:56.7010309%;float:right;position:relative;z-index:65}

.project .github_projects:hover img.left{-webkit-transform-origin:center center;-moz-transform-origin:center center;-ms-transform-origin:center center;-o-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(-10deg) translate(-80px,-30px);-moz-transform:rotate(-10deg) translate(-80px,-30px);-ms-transform:rotate(-10deg) translate(-80px,-30px);--transform:rotate(-10deg) translate(-80px,-30px)}

.project .github_projects:hover img.right{-webkit-transform-origin:center center;-moz-transform-origin:center center;-ms-transform-origin:center center;-o-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(10deg) translate(80px,-30px);-moz-transform:rotate(10deg) translate(80px,-30px);-ms-transform:rotate(10deg) translate(80px,-30px);--transform:rotate(10deg) translate(80px,-30px)}

.project .github_projects:hover img.center{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}

.project .github_projects img{display:block;border-radius:4px;-webkit-transition:all 320ms ease-in-out;-moz-transition:all 320ms ease-in-out;-o-transition:all 320ms ease-in-out;transition:all 320ms ease-in-out}

.project .github_projects img.left,.project .github_projects img.right{position:absolute;top:32px;z-index:30;width:56.3636364%;height:auto}

.project .github_projects img.left{left:0}

.project .github_projects img.right{right:0}

.project .github_projects img.center{margin:0 auto;position:relative;z-index:32;width:100%;height:auto}

.project .ipad{width:58.7628866%;float:left;position:relative;z-index:30}

.project .ipad img{display:block;margin-left:-40px;margin-top:-74px;width:110.5263158%;height:auto}

section.links{background:#261a31;padding:100px 0}

section.links h2{font-size:30px;color:#fff;line-height:30px;margin-bottom:42px;text-align:center}

section.links ul{margin-left:-15px;margin-right:-15px}

section.links li{width:48.4536082%;float:left;margin:0 0 30px;position:relative}

section.links li:nth-child(2n+1){margin-right:3.0927835%}

section.links li:hover:before{color:#F36341}

section.links li:before{display:block;content:"\e2cf";font-family:icomoon;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;position:absolute;color:#10999e;width:18px;height:18px;font-size:18px;top:30px;left:30px}

section.links li a{display:block;padding:30px;padding-left:60px;background:#fff;border-radius:4px;text-decoration:none;color:#6b696e;font-size:16px;line-height:20px}

section.links li a:hover h3{color:#F36341}

section.links li h3{color:#10999e;font-size:18px;margin-bottom:6px}

section.links li p{margin-bottom:0}

@media screen and (max-width:700px){section.links li{width:100%;margin-bottom:20px}}

@media screen and (max-width:420px){section.links{padding-top:60px;padding-bottom:60px}section.links li a{padding:20px;padding-left:20px}section.links li:before{left:20px;top:20px}section.links h3{padding-left:26px}}

section.work_together{background:#EFB6B6;padding:120px 0;color:#fff;font-size:18px;line-height:24px;text-align:center}

section.work_together h2{font-size:30px;line-height:30px;margin-bottom:42px}

section.work_together p{max-width:530px;margin:0 auto 42px}

section.work_together .email_link{font-size:14px;text-transform:uppercase;letter-spacing:2px;color:#fff;text-decoration:none;padding-bottom:2px;-webkit-transition:all 220ms ease-in-out;-moz-transition:all 220ms ease-in-out;-o-transition:all 220ms ease-in-out;transition:all 220ms ease-in-out;border-bottom:1px solid transparent}

section.work_together .email_link:hover{border-bottom:1px solid rgba(255,255,255,.2)}

@media screen and (max-width:420px){section.work_together{padding-top:80px;padding-bottom:80px}section.work_together .container{padding-left:20px;padding-right:20px}}